
/*!*.node circle {*!*/
/*!*    fill: #fff;*!*/
/*!*    stroke: steelblue;*!*/
/*!*    stroke-width: 3px;*!*/
/*!*}*!*/

/*html{*/

/*}*/

/*text {*/
/*    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;*/
/*    pointer-events: all;*/
/*    font-family: Samim!important;*/
/*}*/

/*.link {*/
/*    fill: none;*/
/*    stroke: #ccc;*/
/*    stroke-width: 2px;*/
/*}*/
/*.node {*/
/*    cursor: pointer;*/
/*}*/

/*.overlay{*/
/*    background-color:#EEE;*/
/*}*/

/*.node circle {*/
/*    fill: #fff;*/
/*    stroke: steelblue;*/
/*    stroke-width: 1.5px;*/
/*}*/

/*.node text {*/
/*    font-size:10px;*/
/*    font-family:sans-serif;*/
/*}*/

/*.link {*/
/*    fill: none;*/
/*    stroke: #ccc;*/
/*    stroke-width: 1.5px;*/
/*}*/

/*.templink {*/
/*    fill: none;*/
/*    stroke: red;*/
/*    stroke-width: 3px;*/
/*}*/

/*.ghostCircle.show{*/
/*    display:block;*/
/*}*/

/*.ghostCircle, .activeDrag .ghostCircle{*/
/*    display: none;*/
/*}*/

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.link {
    stroke-width: 2px;
}
